/* The navigation bar */
.navbar {
    overflow: hidden;
    display: block;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  .navbar a{
    display: block;
    padding: 5px;
  }

  #home{
    float:left;
  }
  #admin{
    float:right;
  }

  #map{
    position:relative;
    top: 40px;
    width:100%;
    height:100vh;
  }