/* The navigation bar */
body {
  font-family: 'Noto Sans KR', sans-serif;
}

.wrap{
  bottom: 0px;
  height: 70px;
}
.body{
  width: 400px;
  height: 150px;
  background-color: white;
  border: 1px black;
  padding: 10px;
  box-shadow:0 0 40px 15px rgba(0,0,0,0.06);
}

.body .address{
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.navbar {
    overflow: hidden;
    display: block;
    background-color: aliceblue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    left: 0;
  }

  #adminlabel{
    text-align: right;
    margin-right: 85px;
  }

  /* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  top:11px;
  text-align: right;
  right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sideclose{
  display: block;
  float: right;
  padding: 20px;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#editBtn{
  display:none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons *{
  width: 100px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  .navbar a{
    display: block;
    padding: 5px;
  }

  #home{
    float:left;
  }

  #map{ 
    position:fixed;
    top: 40px;
    width: 100%;
    height:100vh;
    left: 0;
  }

  #sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    width: 40%;
    top: 49px; /* Stay at the top */
    left: 0;
    right:0;
    float: right;
    z-index:1;
    background-color: aliceblue;
    overflow-x: hidden; /* Disable horizontal scroll */
    display: none;
    place-items: center;
  }

  .mapview{
     position: fixed;
     right: 0;
     z-index: 1;
     margin-top: 60px;
     margin-right: 20px;
  }

  .mapview button{
    font-size: 18px;
    width: 120px;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
  }

  .mapview button:hover{
    background-color: cadetblue;
  }

  .notvisible{
    display: none;
  }
  .locations{
    position: absolute;
    top:50%;
    left:45%;
    transform: translateY(-50%) translateX(-50%);
    width: 75%;
  }

input[type=text]{
  padding: 10px;
  margin: 10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 100%
}

#description{
  width:100%;
  padding: 10px;
  margin: 10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  height: 150px;
}

input[type=submit], button{
  appearance: none;
  -webkit-appearance: none;
  padding: 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 2px;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}

button:hover{
  background-color: gray;
}

.main{
  display: grid;
  grid-template-rows: 1 1 1;
  text-align: center;
  font-size: 40px;
}
button{
  padding: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}