<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>부동산</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <h1>부동산</h1>
            <button onclick="location.href='../adminis/'">관리자</button>
        </div>
    </body>
</html>