<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>부동산</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<script src="{% static 'map.js' %}"></script>
<body>
    <!-- Fixed Top Menu -->
    <div class="navbar">
        <a href="" id="home"><img width="35" height="35" src="https://img.icons8.com/material-rounded/24/real-estate.png" alt="real-estate"/></a>
        <p id="adminlabel">관리자</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          
    </div>

    <div class="mapandbar">
        <div id="map"></div>
        <div id="sidebar">
            <form action="../add_location/" method="post" class="locations">
                {% csrf_token %}
                <h1>위치 등록</h1> 
                <input type="text" name="x" id="x" class="notvisible"/>
                <input type="text" name="y" id="y" class="notvisible"/>

                <div id="clickLatlng"></div>
                <div class="address">
                    <h3><label for="address">주소:</label></h3><input type="text" name="address" id="address" required />
                  </div>
                  <div class="description">
                    <label for="description"><h3>설명:</h3></label><textarea name="description" id="description" rows="10" cols="30" required></textarea>
                  </div>
                  <div class="submit">
                    <input type="submit" value="재출" />
                  </div>
            </form>
        </div>
    </div>
    <!-- 지도를 표시할 div 입니다 -->
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=97fb3d9e8889235694aa70e6e0a72f59&libraries=services"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(36.491572371796956, 127.25705099733301), // 지도의 중심좌표
                level: 6 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 

        var geocoder = new kakao.maps.services.Geocoder();

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({ 
            // 지도 중심좌표에 마커를 생성합니다 
            position: map.getCenter() 
        });

        var geocoder = new kakao.maps.services.Geocoder();

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        

            // Show sidebar when map clicked
            document.getElementById("sidebar").style.display="block";
            
            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng; 
            var lat = latlng.getLat();
            var lng = latlng.getLng();

            // assign lat and lng to not visible input forms
            document.getElementById("x").value = lat;
            document.getElementById("y").value = lng;

            searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var content = !!result[0].road_address ? result[0].road_address.address_name : result[0].address.address_name;

                    document.getElementById("address").value = content;

                }   
            });
            
            
            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);

            var message = '위도: ' + lat;
            message += ' & 경도: ' + lng;
    
            var resultDiv = document.getElementById('clickLatlng'); 
            resultDiv.innerHTML = message;

            // 지도에 마커를 표시합니다
            marker.setMap(map);

            function searchDetailAddrFromCoords(coords, callback) {
                // 좌표로 법정동 상세 주소 정보를 요청합니다
                geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
            }

        });
    </script>
</body>
</html>