<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>부동산</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Fixed Top Menu -->
    <div class="navbar">
        <a href="" id="home"><img width="35" height="35" src="https://img.icons8.com/material-rounded/24/real-estate.png" alt="real-estate"/></a>
        <a href="" id="admin"><img width="35" height="35" src="https://img.icons8.com/fluency-systems-regular/48/system-administrator-male.png" alt="system-administrator-male"/></a>
    </div>

    <div class="mapandbar">
        <div id="map"></div>
        <div id="sidebar">
            <h1>위치 등록</h1>
            <form action="" method="" class="locations">
                <div class="locations">
                    <h3><label for="address">주소:</label></h3>
                    <input type="text" name="address" id="address" required />
                  </div>
                  <div class="locations">
                    <label for="description"><h3>설명</h3></label>
                    <input type="text" name="description" id="description" required />
                  </div>
                  <div class="locations">
                    <input type="submit" value="재출" />
                  </div>
            </form>
        </div>
    </div>
    <!-- 지도를 표시할 div 입니다 -->

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=97fb3d9e8889235694aa70e6e0a72f59"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({ 
            // 지도 중심좌표에 마커를 생성합니다 
            position: map.getCenter() 
        }); 
        // 지도에 마커를 표시합니다
        marker.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
            
            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng; 
            
            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);
        });
    </script>
</body>
</html>