<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>부동산</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="element"></div>
        {{ all_locations }}

        <script>
            var element = '';
            const locations = '{{ all_locations|escapejs }}';
            document.getElementById("element").value = locations;
            

        </script>
    </body>
</html>